@font-face {
    font-family: Bold;
    src: url('./assets/fonts/static/Inter-Bold.ttf');
}

@font-face {
    font-family: ExtraBold;
    src: url('./assets/fonts/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: Regular;
    src: url('./assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: Inner;
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}